---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

const white = "rgb(248, 249, 248)";
const black = "rgb(8, 7, 6)";

const pcbLight = "rgb(8, 85, 50)";
const pcbDark = "rgb(8, 60, 30)";
const capacitorLight = "rgb(202, 150, 116)";
const capacitorDark = "rgb(161, 117, 93)";
const resistorLight = "rgb(85, 83, 86)";
const resistorDark = "rgb(205, 199, 208)";
const pinLight = "rgb(223, 223, 223)";
const pinDark = "rgb(172, 177, 179)";
const enig = "rgb(232, 207, 50)";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap" rel="stylesheet">
		<!--<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />

		<title>Vestigl Creations - {title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>


<style is:global define:vars={{
	white, black,
	pcbLight, pcbDark,
	capacitorLight, capacitorDark,
	resistorLight, resistorDark,
	pinLight, pinDark,
	enig
}}>

/* Core Styling */
html {
	box-sizing: border-box;

	font-family: "Red Hat Display", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	width: 100%;
}

.line {
	display: inline-block;
}


/* Text Sizing */
.text-medium {
	font-size: 1.5em;
	font-weight: 500;
}

.text-big {
	font-size: 2em;
	font-weight: 600;
	line-height: 1.75em;
}

</style>
