---
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob('./blog/*.md');

const title = "Blog";
const description = "A collection of blog posts containing thoughts on baking, electronics, and software.";
---

<BaseLayout title={title} description={description}>
	<h1>Blog</h1>

	{ allPosts.map((post) =>
		<li>
			<a href={post.url}>{post.frontmatter.title}</a>
		</li>
	)}
</BaseLayout>

