---
import { Image } from 'astro:assets';

import PCBLayout from "../layouts/PCBLayout.astro";
import Identity from "../components/Identity.astro";
import SocialItem from "../components/SocialItem.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import ProjectItem from "../components/ProjectItem.astro";
import HomeNavigationButton from "../components/HomeNavigationButton.astro";

import testBgImage from '../../assets/bg_01.svg';

title: "Home"
const title = "Home";
const description = "Drew Mills's personal and portfolio site.";

// TODO(Drew): Menu experience
---

<PCBLayout title={title} description={description}>
	<main>
		<div class="section">
			<div class="intro pcb-border">
				<div class="text-medium">
					My name is <span class="text-enig">Drew</span>,
				</div>
				<h1 class="text-enig">
					<span class="line">And I am</span>
					<span class="line">Vestigl</span>
				</h1>
				<div class="blurb">
					<span class="line">
						<a href="#experience">Professionally</a>,
						I'm an all-around developer that's done
					<span>
					<span class="line">
						<a href="#USAA">DevOps</a>,
					</span>
					<span class="line">
						<a href="#Duet">mobile</a>,
					</span>
					<span class="line">
					<a href="#Beyond-HMI">embedded</a>,
					</span>
					<span class="line">and</span>
					<span class="line">
						<a href="#Apple">partner engineering</a>.
					</span>
				</div>
				<div class="blurb">
					<span class="line">In my free time,</span>
					<span class="line">
						<a href="#projects">I make things</a>.
					</span>
				</div>
			</div>

			<div class="socials">
				<SocialItem url="https://github.com/Drewbadour" icon="github" name="GitHub"/>
				<SocialItem url="https://www.linkedin.com/in/drew-mills-18326414b/" icon="linkedin" name="LinkedIn"/>
				<SocialItem url="mailto:drew+mailto@vestigl.com/" icon="envelope-square" name="Email Me"/>
			</div>

		<!--
		<div class="nav-options">
			<a class="nav-item text-medium" href="/projects/">Projects</a>
			<a class="nav-item text-medium" href="/blog/">Blog</a>
		</div>
		-->

		<!--
		<div class="about">
			<h1 class="">About</h1>
			<div class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed elit nisl. Quisque id nisi nisl. Donec turpis odio, bibendum ac nisl vitae, auctor aliquam lorem. Ut at rutrum lectus. Nulla ut orci non nisl pharetra imperdiet. Nunc sit amet mi pharetra, tempor mauris vel, aliquam dolor. Aenean tincidunt orci id sapien condimentum, nec tempus felis volutpat. Maecenas ornare libero sit amet semper viverra. Maecenas felis ante, varius vitae eros quis, molestie blandit massa. Pellentesque ultrices sed ex eu consectetur. Praesent vitae enim eget nisl laoreet suscipit non et leo.</div>
		</div>
		-->

			<div class="block block-projects">
				<h1 id="projects" class="section-header">Projects</h1>

				<ProjectItem
					anchor="project-software"
					title="Suspicious Number"
					href="https://github.com/Drewbadour/Suspicious-Number"
					description="An Alfred plugin to quickly identify the value of a random register. UTF8, decimal, float, and more."
				/>

				<ProjectItem
					anchor="project-hardware"
					title="Rechargable Battery Conversion"
					href=""
					description="Converting a digital scale from disposable batteries to rechargable pouch cells."
				/>

				<ProjectItem
					anchor="project-cooking"
					title="Flour Tortilla Recipe"
					href="/blog/tortillas"
					description="My recipe for flour tortillas, using only 4 ingredients (including water)."
				/>

				<HomeNavigationButton text="More Projects" href="/projects"/>
			</div>
		</div>

		<div class="section">
			<div class="block block-experience">
				<h1 id="experience" class="section-header">Experience</h1>

				<ExperienceItem
					anchor="Duet"
					startDate="May 2023" endDate="Present"
					role="Individual Contributor" company="Duet"
					skills={["Swift", "SwiftUI", "iOS", "Objective-C", "macOS", "ScreenCaptureKit"]}
					work={[]}
					blurb="Updated the Duet macOS application to ScreenCaptureKit and implemented macOS-side changes to implement new remote access business model."
				/>

				<ExperienceItem
					anchor="Apple"
					startDate="August 2020" endDate="March 2023"
					role="Partner Engineer" company="Apple"
					skills={["C++", "Swift", "Objective-C", "DriverKit", "ScreenCaptureKit"]}
					work={[
						{text: "DriverKit Matching Article", href: "https://developer.apple.com/news/?id=zk5xdwbn"},
						{text: "DriverKit Code Signing Article", href: "https://developer.apple.com/news/?id=c63qcok4"},
						{text: "ScreenCaptureKit WWDC Talk", href: "https://developer.apple.com/videos/play/wwdc2022/10155/"}
					]}
					blurb="Provided devops support for enterprise-wide tooling, including apps that enabled over 3,000 developers to discover and utilize over 1,500 APIs, as well as participating in a login redesign impacting over 13 million customers."
				/>

				<ExperienceItem
					anchor="USAA"
					startDate="June 2018" endDate="August 2020"
					role="Software Engineer II" company="USAA"
					skills={["Java", "JSON", "React.js", "Redux.js", "Spring Boot", "Python", "TypeScript"]}
					work={[]}
					blurb="Worked with partners to unblock their critical issues, facilitated adoption of platform technologies, optimized and enhanced open source software for the Apple silicon architecture, and diagnosed regressions in third party iOS apps."
				/>

				<ExperienceItem
					anchor="Beyond-HMI"
					startDate="2013" endDate="August 2020"
					role="President" company="Beyond HMI, Inc"
					skills={["C", "C++", "Embedded Linux", "Arduino", "Modbus", "Bluetooth Low Energy"]}
					work={[
						{text: "Beyond HMI", href: "https://beyond-hmi.com"},
					]}
					blurb="Designed and developed a device that allowed PLC operators to replace their HMI with an iPad."
				/>
			</div>
		</div>
	</main>
</PCBLayout>


<style>

main {
	display: flex;
	flex-wrap: wrap;

/*	margin: 0.5em;*/

/*	background-image: url("../assets/bg_01.svg");*/
	background-color: var(--pcbLight);
/*	background-size: contain;*/
}

.section-header {
/*	display: table;*/

/*	padding: 0.25em;*/

/*	background-color: var(--pcbDark);*/
	margin-bottom: 0.25em;
}

.intro {
	text-align: center;

/*	margin: 1em 0em 0em 0em;*/
	padding: 0em;
}

.block {
	margin-top: 4em;
}

.blurb {
	margin: 0.5em 0em;
}

.nav-options {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;

	text-align: center;

	margin: 2em 0em;
}

.socials {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;

	text-align: center;

	margin: 1em 0em;
}


.section {
	width: 100%;

	padding: 0.5em;
}

@media (min-width:800px) {
	.section {
		flex: 1;
		width: 50%;
	}

	.block-experience {
		margin-top: 0;
	}

	#experience {
		margin-top: 0;
	}
}

@media (min-width:1920px) {
	main {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
}

</style>
