---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Projects";
const description = "A collection of electronics and software projects.";
---

<BaseLayout title={title} description={description}>
	<h1>Projects</h1>
</BaseLayout>

