---
import Social from "./Social.astro"
---

<nav>
	<div id="nav-logo-section" class="nav-section">
		<a href="/">
			<i class="fa fa-car"/>
		</a>
	</div>

	<div id="nav-link-section" class="nav-section">
		<a href="/work/">Work</a>
		<a href="/projects/">Projects</a>
		<a href="/blog/">Blog</a>
	</div>

	<div id="nav-social-section" class="nav-section">
		<Social url="https://github.com/Drewbadour" icon="github"/>
		<Social url="https://www.linkedin.com/in/drew-mills-18326414b/" icon="linkedin"/>
		<Social url="mailto:drew+mailto@vestigl.com/" icon="envelope-square"/>
	</div>
</nav>

<style>

nav {
	display: flex;
	width: 100%;
}

nav > .nav-section {
	display: flex;
	padding: 1rem 2rem;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

#nav-logo-section {
	justify-content: flex-start;
	flex-basis: calc(100% / 3);
}

#nav-logo-section > a > i {
	font-size: 2.5rem;
}

#nav-link-section {
	gap: 5rem;
	flex-basis: calc(100% / 3);
}

#nav-social-section {
	justify-content: flex-end;
	gap: 3rem;
	flex-grow: 1;
}

@media only screen and (max-width: 880px) {
	#nav-link-section {
		gap: 3rem;
	}

	#nav-social-section {
		gap: 1rem;
	}
}

@media only screen and (max-width: 627px) {
	#nav-link-section {
		gap: 1rem;
	}

	#nav-social-section {
		gap: 0.5rem;
	}
}

</style>