---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<div class="passive-wrapper">
	<div class="passive-shell capacitor-shell">
		<div class="passive-body capacitor-body">{text}</div>
	</div>
</div>

<!--
<div class="passive-wrapper">
	<div class="passive-shell resistor-shell">
		<div class="passive-body resistor-body">{text}</div>
	</div>
</div>
-->

<!--<div class="skill">{text}</div>-->


<style>

.passive-wrapper {
	display: inline-block;
	box-shadow:
		0.4px 0.6px 0.8px hsl(146deg 100% 4% / 0.36),
		1.3px 1.9px 2.6px -0.8px hsl(146deg 100% 4% / 0.36),
		3.3px 4.7px 6.5px -1.7px hsl(146deg 100% 4% / 0.36),
		8.1px 11.4px 15.7px -2.5px hsl(146deg 100% 4% / 0.36);

    padding: 0em 0.4em;
	margin: 0.75em 0.25em;
}


.passive-shell {
	padding: 0em;

	box-shadow:
		-0.4em 0em 0em 0em var(--pinDark),
		 0.4em 0em 0em 0em var(--pinDark);
}

.capacitor-shell {
	background-color: var(--capacitorDark);
}

.resistor-shell {
	background-color: var(--resistorDark);
}


.passive-body {
	padding: 0.25em 0.25em;

	transform: translateY(-0.4em);

	box-shadow:
		-0.4em 0em 0em 0em var(--pinLight),
		 0.4em 0em 0em 0em var(--pinLight);

	font-family: "Space Mono", monospace;
	font-weight: 300;
}

.capacitor-body {
	color: var(--black);
	background-color: var(--capacitorLight);
}

.resistor-body {
	color: var(--white);
	background-color: var(--resistorLight);
}

</style>
