---
interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;
---

<a class="passive-wrapper link" href={href}>
	<div class="passive-shell resistor-shell">
		<div class="passive-body resistor-body">
			<span class="text">{text}</span>
			<i class="fa fa-fw fa-external-link" aria-hidden="true"/>
		</div>
	</div>
</a>

<!--
<a class="link" href={href}>
	<span class="text">{text}</span>
	<i class="fa fa-fw fa-external-link" aria-hidden="true"/>
</a>
-->


<style>

.passive-wrapper {
	display: inline-block;
	box-shadow:
		0.4px 0.6px 0.8px hsl(146deg 100% 4% / 0.34),
		1.3px 1.9px 2.6px -0.8px hsl(146deg 100% 4% / 0.34),
		3.3px 4.7px 6.5px -1.7px hsl(146deg 100% 4% / 0.34),
		8.1px 11.4px 15.7px -2.5px hsl(146deg 100% 4% / 0.34);

    padding: 0em 0.1em;
	margin: 0.75em;
}


.passive-shell {
	padding: 0em;

	/*box-shadow:
		-0.4em 0em 0em 0em var(--pinDark),
		 0.4em 0em 0em 0em var(--pinDark);*/
}

.resistor-shell {
	background-color: var(--resistorDark);

	padding: 0.2em;

	box-shadow:
		-0.2em 0em 0em 0em var(--pinDark),
		 0.2em 0em 0em 0em var(--pinDark);
}


.passive-body {
	padding: 0.4em;

	transform: translateY(-0.4em);

	box-shadow:
		-0.4em 0em 0em 0em var(--pinLight),
		 0.4em 0em 0em 0em var(--pinLight);
}

.resistor-body {
	color: var(--white);
	background-color: var(--resistorLight);
}


.link {
	font-family: "Space Mono", monospace;
	font-weight: 300;

	text-decoration: none;
	display: inline-flex;
	line-height: 1em;
}

.text {
	text-decoration: underline;
	text-decoration-color: var(--enig);
}

</style>