---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostListing from "../components/BlogPostListing.astro";

const title = "Home";
const description = "Drew Mills's personal and portfolio site.";

const blogIconsPath = "/src/assets/blog_icons/";

const allPosts = await Astro.glob('./notes/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
allPosts.forEach((post) => {
	const options = { year: 'numeric', month: 'long', day: 'numeric' };
	const pubDate = new Date(post.frontmatter.pubDate);
	const formattedDate = pubDate.toLocaleDateString(undefined, options);
	post.frontmatter.pubDate = formattedDate;
});
---



<BaseLayout title={title} description={description}>
	<div class="section-content">
		{ allPosts && allPosts.map((post) =>
			<BlogPostListing
				url={post.url}
				iconPath={"/src/assets/blog_icons/" + post.frontmatter.icon.url}
				frontmatter={post.frontmatter}
			/>
		)}
	</div>
</BaseLayout>



<style>

.section-content {
	flex: 1;

	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

</style>
