---
import { Image } from 'astro:assets';

import BaseLayout from "../layouts/BaseLayout.astro";
import Identity from "../components/Identity.astro";
import SocialItem from "../components/SocialItem.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import ProjectItem from "../components/ProjectItem.astro";
import NavigationButton from "../components/NavigationButton.astro";

import susNumImage from "../assets/suspicious-number.png";
const susNumAlt = "An Alfred.app window with query 'decimal 42'. There are six results: 0x2A Hexidecimal, 42 Unsigned Integer, 0b00101010 Binary. '*' ASCII String, '*' UTF-8 String."

title: "Home"
const title = "Home";
const description = "Drew Mills's personal and portfolio site.";
---

<BaseLayout title={title} description={description} navPosition="sticky">
	<main>
		<div id="intro">
			<h1 id="name">
				<span class="line">Drew Mills</span>
			</h1>

			<h2 class="current-role">
				<span class="role-scroll ios-dev is-visible"><!--This space intentionally left blank--></span>
				<span class="role-scroll devops"><!--This space intentionally left blank--></span>
				<span class="role-scroll macos-dev"><!--This space intentionally left blank--></span>
				<span class="role-scroll embedded-dev"><!--This space intentionally left blank--></span>
				<span class="role-scroll partner-eng"><!--This space intentionally left blank--></span>
			</h2>

			<p class="current-job text-dark">
				Currently building solutions for the macOS and iOS applications at
				<a href="https://www.duetdisplay.com">Duet</a>.
			</p>

			<p class="current-hobby text-dark">
				Otherwise: baking, painting miniatures, making PCBs, and writing embedded software.
				<a href="/notes/">Find recipes, documentation, and more in my tech notes.</a>
			</p>

			<div class="socials">
				<SocialItem url="https://github.com/Drewbadour" icon="github" name="GitHub"/>
				<SocialItem url="https://www.linkedin.com/in/drew-mills-18326414b/" icon="linkedin" name="LinkedIn"/>
				<SocialItem url="mailto:drew+mailto@vestigl.com/" icon="envelope-square" name="Email Me"/>
			</div>
		</div>

		<div class="block block-projects">
			<h2 id="projects" class="section-header">Projects</h1>

			<ProjectItem
				anchor="project-software"
				title="Suspicious Number"
				img={susNumImage}
				alt={susNumAlt}
				href="https://github.com/Drewbadour/Suspicious-Number"
				description="An Alfred plugin to quickly identify the value of a random register. Converts from hex, binary or decimal to UTF8, signed, float, and more."
			/>

			<ProjectItem
				anchor="project-hardware"
				title="Rechargable Battery Conversion"
				href="/notes/bathroom-scale-conversion"
				description="Converting a digital scale that requires disposable batteries to use rechargable pouch cells."
			/>

			<ProjectItem
				anchor="project-cooking"
				title="Flour Tortilla Recipe"
				href="/notes/flour-tortilla"
				description="My recipe for flour tortillas, using only 4 ingredients (including water)."
			/>

			<NavigationButton text="More Projects" href="/projects"/>
		</div>

		<div class="block block-experience">
			<h1 id="experience" class="section-header">Experience</h1>

			<ExperienceItem
				anchor="Duet"
				startDate="May 2023" endDate="Present"
				role="Individual Contributor" company="Duet"
				href="https://www.duetdisplay.com"
				skills={["Swift", "SwiftUI", "iOS", "Objective-C", "macOS", "ScreenCaptureKit"]}
				blurb="Updated the Duet macOS application to ScreenCaptureKit and implemented macOS-side changes to implement new remote access business model."
			/>

			<ExperienceItem
				anchor="Apple"
				startDate="August 2020" endDate="March 2023"
				role="Partner Engineer" company="Apple"
				href="https://developer.apple.com"
				skills={["C++", "Swift", "Objective-C", "DriverKit", "ScreenCaptureKit"]}
				work={[
					{text: "DriverKit Matching Article", href: "https://developer.apple.com/news/?id=zk5xdwbn"},
					{text: "DriverKit Code Signing Article", href: "https://developer.apple.com/news/?id=c63qcok4"},
					{text: "ScreenCaptureKit WWDC Talk", href: "https://developer.apple.com/videos/play/wwdc2022/10155/"}
				]}
				blurb="Worked with partners to unblock their critical issues, facilitated adoption of platform technologies, optimized and enhanced open source software for the Apple silicon architecture, and diagnosed regressions in third party iOS apps."
			/>

			<ExperienceItem
				anchor="USAA"
				startDate="June 2018" endDate="August 2020"
				role="Software Engineer II" company="USAA"
				href="https://www.usaa.com"
				skills={["Java", "JSON", "React.js", "Redux.js", "Spring Boot", "Python", "TypeScript"]}
				blurb="Provided devops support for enterprise-wide tooling, including apps that enabled over 3,000 developers to discover and utilize over 1,500 APIs, as well as participating in a login redesign impacting over 13 million customers."
			/>

			<ExperienceItem
				anchor="Beyond-HMI"
				startDate="2013" endDate="August 2020"
				role="President" company="Beyond HMI, Inc"
				href="https://beyond-hmi.com"
				skills={["C", "C++", "Embedded Linux", "Arduino", "Modbus", "Bluetooth Low Energy"]}
				blurb="Designed and developed a device that allowed PLC operators to replace their HMI with an iPad."
			/>
		</div>
	</main>
</BaseLayout>


<script>
	function scrollRoles() {
		let roles = document.getElementsByClassName('role-scroll');
		let length = roles.length;

		for (let i = 0; i < length; ++i) {
			if (roles[i].classList.contains('is-visible')) {

				roles[i].classList.remove('is-visible');
				roles[i].classList.add('is-hidden');

				let nextRole;
				if ((i + 1) == length) {
					// Last element, restart
					nextRole = roles[0];
				} else {
					nextRole = roles[i + 1];
				}

				nextRole.classList.add('is-visible');
				nextRole.classList.remove('is-hidden');
				break;
			}
		}
	}

	setInterval(function() { scrollRoles() }, 3000);
</script>


<style>

/* Dynamic Width Content Management */
.current-role {
	.ios-dev:before {
		content: "iOS Developer";
	}

	.devops:before {
		content: "DevOps Engineer";
	}

	.macos-dev:before {
		content: "macOS Developer";
	}

	.embedded-dev:before {
		content: "Embedded Developer";
	}

	.partner-eng:before {
		content: "Partner Engineer";
	}
}

@media only screen and (min-width: 360px) {
	.current-role {
		.ios-dev:before {
			content: "iOS Software Developer";
		}

		.macos-dev:before {
			content: "macOS Software Developer";
		}
	}
}

@media only screen and (min-width: 380px) {
	.current-role {
		.embedded-dev:before {
			content: "Embedded Software Developer";
		}
	}
}



#intro {
	text-align: left;

	padding: 0;
	margin: 2em 0;
}


#name {
	font-size: 3em;
	font-weight: 900;
}


.current-role {
	display: inline-block;
	position: relative;

	font-weight: 600;
}

.role-scroll {
	display: inline-block;
	position: absolute;

	white-space: nowrap;
	opacity: 0;

	left: 0;
	top: 0;
}

.is-visible {
	position:relative;
	opacity: 1;

	animation: push-in 0.3s;
}

.is-hidden {
	animation: push-out 0.3s;
}


.current-job {
	margin-top: 2em;
}


@media (prefers-reduced-motion) {
	.is-visible {
		animation: none;
	}

	.is-hidden {
		animation: none;
	}
}



.socials {
	display: grid;

	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;

	text-align: center;

	margin: 2em 0 1em 0;
}

.section-header {
	margin: 4.5em 0.25em 0.5em 0.25em;

	font-size: 1em;
	text-transform: uppercase;
}


@media only screen and (min-width: 360px) {
	#intro {
		#name {
			font-size: 4em;
		}
	}
}




/* Tablet Styling */
@media only screen and (min-width: 768px) {
	main {
		width: 100%;

		display: grid;
		grid-template-columns: 380px 1fr;
		grid-template-rows: 1fr;
	}

	#intro {
		position: fixed;
		width: 380px;

		margin-top: 3em;

		grid-column: 1;
	}

	.block {
		grid-column: 2;
	}

	.section-header {
		margin: 1em 0.25em 0.5em 0.25em;
	}
}

/* Desktop Styling */
@media only screen and (min-width: 1366px) {
	main {
		grid-template-columns: 380px 1fr 1fr;
	}

	#intro {
		overflow: hidden;
	}

	.block {
		max-height: calc(100vh - 2em);
		overflow-y: auto;
	}

	.block-projects {
		grid-column: 2;
	}

	.block-experience {
		grid-column: 3;
	}
}

@media only screen and (min-width:1920px) {
	main {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
}




@keyframes push-in {
	0% {
		opacity: 0;
		transform: translateY(-1em);
	}

	60% {
		transform: translateY(0.05em);
	}

	80% {
		transform: translateY(-0.05em);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes push-out {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(1em);
	}
}

</style>
