---
import TableOfContentsHeading from './TableOfContentsHeading.astro';
const { headings } = Astro.props;

const toc = convertHeadingsToNested(headings);
function convertHeadingsToNested(headings) {
	let toc = [];
	let parentHeadings = new Map();

	if (!headings) {
		return toc;
	}

	headings.forEach(h => {
		const heading = { ...h, subheadings: [] };
		parentHeadings.set(heading.depth, heading);

		if (heading.depth === 2) {
			toc.push(heading);
		} else {
			parentHeadings.get(heading.depth - 1).subheadings.push(heading);
		}
	});

	return toc;
}
---

<nav class="toc">
	<ul>
		{toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
	</ul>
</nav>

<style>

ul {
	list-style-type: none;
	padding-inline-start: 1.5rem;
}

.toc-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

</style>
