---
interface Props {
	role: string;
	company: string;
	href: string;
}

const { role, company, href } = Astro.props;
---

<div class="experience">
	<a href={href}>
		<h2 class="role">
			<span class="line">{role}</span>
			<span class="line">&nbsp;//&nbsp;</span>
			<span class="line">{company}<i class="fa fa-fw fa-angle-double-right" aria-hidden="true"/></span>
		</h3>
	</a>
</div>


<style>

.experience {
	display: flex;

	margin: 0 1em;

	align-items: center;
	justify-content: center;
}

.role {
	font-size: 0;
/*	font-size: 4rem;*/
/*	line-height: 1rem;*/
}

.line {
	font-size: 4rem;

	text-decoration: underline;
	text-decoration-color: var(--gold);
}



@media (prefers-reduced-motion) {
}

@media (prefers-reduced-transparency) {
}

</style>
