---
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description, navPosition } = Astro.props;

const white = "rgb(248, 249, 248)";
const darkText = "rgb(184, 181, 183)";

const gold = "rgb(207, 181, 59)";
const goldTransparent = "rgba(207, 181, 59, 0.15)";

const backgroundLight = "rgb(52, 49, 57)";
const backgroundLightTransparent = "rgba(52, 49, 57, 85)";
const backgroundDark = "rgb(19, 16, 21)";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap" rel="stylesheet">
		<!--<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->
		<!--<link href="https://fonts.googleapis.com/css2?family=Rasa:wght@300..700&display=swap" rel="stylesheet">-->

		<meta name="generator" content={Astro.generator} />

		<title>Vestigl Creations - {title}</title>
	</head>
	<slot/>
</html>


<style is:global define:vars={{
	navPosition,
	white, darkText,
	gold, goldTransparent,
	backgroundLight, backgroundLightTransparent, backgroundDark
}}>

/* Core Styling */
html {
	box-sizing: border-box;

	font-family: "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color: white;
	text-decoration-color: var(--gold);
}

a {
	color: white;
	text-decoration-color: var(--gold);

	transition: color 150ms ease-out;

	.fa-arrow-right {
		transition: transform 250ms ease-out;
	}
}

a:hover {
	color: var(--gold);
	text-decoration-color: var(--gold);

	.fa-arrow-right {
		transform: translateX(1rem);
	}
}

.line {
	display: inline-block;
}

.text-dark {
	color: var(--darkText);
}

@media (prefers-reduced-motion) {
}

@media only screen and (min-width: 360px) {
}

</style>
