---
import Header from "../components/Header.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description, navPosition } = Astro.props;

const white = "rgb(248, 249, 248)";
const darkText = "rgb(184, 181, 183)";

const gold = "rgb(207, 181, 59)";
const goldTransparent = "rgba(207, 181, 59, 0.15)";

const backgroundLight = "rgb(52, 49, 57)";
const backgroundLightTransparent = "rgba(52, 49, 57, 85)";
const backgroundDark = "rgb(19, 16, 21)";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rasa:wght@300..700&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />

		<title>Vestigl Creations - {title}</title>
	</head>
	<Header/>
	<body>
		<div id="content">
			<slot/>
		</div>
	</body>
</html>


<style is:global define:vars={{
	navPosition,
	white, darkText,
	gold, goldTransparent,
	backgroundLight, backgroundLightTransparent, backgroundDark
}}>

/* Core Styling */
html {
	box-sizing: border-box;

	font-family: "Urbanist", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color: var(--white);
	text-decoration-color: var(--gold);

	background-color: var(--backgroundDark);
	background-image: radial-gradient(var(--backgroundLight) 0.8px, var(--backgroundDark) 0.8px);
	background-size: 20px 20px;
}

nav {
	box-sizing: border-box;
	position: var(--navPosition);
}

a {
	color: var(--white);
	text-decoration-color: var(--gold);

	transition: color 0.2s;

	.fa {
		transition: margin-left 0.2s;
	}
}

a:visited {
	color: var(--white);
	text-decoration-color: var(--gold);
}

a:hover {
	color: var(--gold);
	text-decoration-color: var(--gold);

	.fa {
		margin-left: 0.25em;
	}
}

body {
	margin: 0;
	width: 100wh;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
	font-size: 1.25em;
}

#content {
	padding: 1em;
}

.line {
	display: inline-block;
}

@media (prefers-reduced-motion) {
	a:hover .fa {
		margin-left: 0;
	}
}



/* Text Coloring */
.text-dark {
	color: var(--darkText);
	text-decoration-color: var(--darkText);
}

.text-accent {
	color: var(--gold);
	text-decoration-color: var(--gold);
}


/* Text Sizing */
.text-medium {
	font-size: 1.5em;
	font-weight: 500;
}

.text-big {
	font-size: 2em;
	font-weight: 600;
	line-height: 1.75em;
}


@media only screen and (min-width: 360px) {
	#content {
		padding: 1em;
	}
}

</style>
