---
import BaseLayout from "./BaseLayout.astro";
import MainHeader from "../components/MainHeader.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<body>
		<MainHeader/>
		<main>
			<slot/>
		</main>
	</body>
</BaseLayout>


<style is:global>

body {
	display: flex;
	flex-direction: column;

	height: 100vh;
	height: 100lvh;

	margin: 0;

	overflow: hidden;

	color: white;
	background-color: var(--backgroundDark);
}

main {
	position: relative;

	flex-grow: 1;
}

ul {
	list-style: none;
	padding-left: 1rem;
}

li:before {
	display: inline-block;
	content: "\f054";

	font-family: FontAwesome;
	font-size: 1rem;
	margin-right: 1rem;
}



/*@media (prefers-reduced-motion) {
}*/

/* Tablet Styling */
@media only screen and (min-width: 768px) {
}

/* Desktop Styling */
@media only screen and (min-width: 1366px) {
}

@media only screen and (min-width:1920px) {
}

</style>
